@charset 'UTF-8';

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: #555;
	font-family: 'Noto Sans JP', sans-serif;
}

/*
COMMON
================================================ */
p,
td {
    line-height: 1.7;
}

/* Layout */
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
main {
    max-width: 900px;
    width: 94%;
    margin: 6.25rem auto;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
}
.text-center {
    text-align: center;
}

/* Button */
.btn {
    font-family: 'Shippori Mincho', serif;
    display: inline-block;
    padding: 1.25rem 3.25rem;
    font-size: 1.375rem;
    text-align: center;
    width: 100%;
}
.btn-primary {
    font-size: 18px;
    color: #fff;
    background: #67aba3;
    box-shadow: 0 3px #3c7c75;
    position: relative;
    top: -2px;
    padding: 15px 20px;
    transition: 0.3s;
    text-align: center;
}
.btn-primary:hover {
    box-shadow: 0 1px #0b453e;
    background: #3c7c75;
    top: 1px;
}
.btn-secondary {
    font-size: 18px;
    color: #555;
    background: #ffeac8;
    box-shadow: 0 3px #9a948a;
    position: relative;
    top: -2px;
    padding: 15px 20px;
    transition: 0.3s;
}
.btn-secondary:hover {
    box-shadow: 0 1px #9a948a;
    background: #ffeac8;
    top: 1px;
}

/* Heading */
.title {
    font-family: 'Shippori Mincho', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    position: relative;
}
.title::after {
    content: '';
    display: block;
    text-align: center;
    height: 5px;
    width: 10rem;
    background: #d0bea2;
    background: -webkit-linear-gradient(to right, rgb(243, 213, 158), #faf4ce);
    background: linear-gradient(to right, rgb(243, 213, 158), #faf4ce);
    position: absolute;
    left: calc(50% - 55px);
    margin: 2rem 0 2.5rem;
}
.title-center {
    text-align: center;
    margin: 2rem 0 2.5rem;
}
.title-center::after {
    text-align: center;
    margin: 1rem auto;
}

/* Table */
table {
    margin: 3.5rem 0;
    width: 100%;
}
th,
td {
    display: block;
}
th {
    font-weight: normal;
    background: #f8f6f2;
    vertical-align: middle;
    padding: 1rem;
}
td {
    padding: .75rem 1rem 1.75rem;
}

/*
HEADER
================================================ */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.main-nav {
    display: flex;
}
.main-nav li {
    text-align: center;
    font-size: .75rem;
}
.logo {
    width: 7.5rem;
}
.main-nav a {
    display: block;
    padding: .5rem;
    width: 4rem;
}
.main-nav a::before {
    display: block;
    margin-bottom: .25rem;
/* Font Awesome */
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    color: #555;
    font-size: 1.25rem;
}
.menu-home::before {
    content: '\f015';
}
.menu-job::before {
    content: '\f0ca';
}
.menu-form::before {
    content: '\f56e';
}
.main-nav .current {
    background: #f8f6f2;
}

/*
HOME
================================================ */
.home-hero {
    padding: 5.5rem 1rem 3rem;
    background: url('../images/bg-hero.jpg') no-repeat center / cover;
}
.home-hero h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    color: #67aba3;
    margin: 3;
    padding: 1rem;
    display: inline-block;
}
.home-hero h1::after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(103, 171, 163), #c9f8e0);
    background: linear-gradient(to right, rgb(103, 171, 163), #c9f8e0);
}
.home-hero h2 {
    text-align: center;
    font-family: 'Shippori Mincho', serif;
    font-size: 1rem;
    color: #fff;
    margin: 0;
    background: rgba(255, 255, 255, 0.70);
    padding: 1rem;
    display: inline-block;
}

/* Contents */
.main-message {
    display: flex;
    padding: 5.5rem 1rem 3rem;
}
.main-message h3 {
    font-family: 'Shippori Mincho', serif;
    padding: 1rem;
}
.main-message p {
    font-size: 1.0rem;
    margin-bottom: 1rem;
}
.message-img {
    display: inline-block;
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin: 8vw 0 12vw;
    border-radius: 40% 70% 50% 30%/50%;
}
.women-img {
    display: inline-block;
}
.brown-bg {
    background-color: #fffaee;
    display: flex;
    padding: 5.5rem 1rem 3rem;
}
.brown-bg h3 {
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    margin-bottom: 60px;
}
.brown-bg p {
    text-align: center;
    font-size: 1.0rem;
    margin-bottom: 2rem;
}

.content {
    background-color: #fffaee;
    display: flex;
    padding: 4rem 1rem;

}
.content h3 {
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    margin-bottom: 60px;
}
.home-text {
    margin-bottom: 2rem;
}



/*
JOB.html
================================================ */
.page-job {
    background-image: url('../images/bg-job.jpg'), linear-gradient(180deg, transparent 0%,transparent 50%, #F8F6F2 50%, #F8F6F2 100%);
    background-position: left 106px, 0 0;
    background-size: 70vw auto, contain;
    background-repeat: no-repeat;
}
.page-job .btn {
    margin-bottom: 4rem;
}

/* Timeline */
.timeline {
    list-style: decimal inside;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.timeline-item {
    margin-bottom: 2rem;
}
.timeline-title {
    font-size: 1.375rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.timeline-content {
    font-family: sans-serif;
}

/*
FORM.html
================================================ */
.page-form {
    background-image: url('../images/bg-form.jpg'), linear-gradient(180deg, transparent 0%,transparent 50%, #F8F6F2 50%, #F8F6F2 100%);
    background-position: right 106px, 0 0;
    background-size: 70vw auto, contain;
    background-repeat: no-repeat;
}
.text-small {
    font-size: .875rem;
}

/* Form */
input[type='text'],
input[type='email'],
input[type='url'],
select,
textarea {
    border: 1px solid #bbb;
    background: #fff;
    padding: .5rem;
    width: 100%;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='url']::placeholder,
textarea::placeholder {
    color: #bbb;
}
textarea {
    height: 10rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

.select-box {
    position: relative;
}
.select-box::after {
    display: inline-block;
    position: absolute;
    top: .625rem;
    right: 1rem;
/* Font Awesome */
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    content: '\f078';
    color: #bbb;
}

/* デフォルトのチェックボックスを非表示 */
input[type='checkbox'] {
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
/* チェックボックス用の四角形を作る */
input[type='checkbox'] + span::before {
    display: inline-block;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #bbb;
    background: #fff;
    margin: -.125rem .5rem 0 0;
    vertical-align: middle;

/* Font Awesome */
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    padding: 0 2px;
    line-height: 1.5;
}
/* チェックが入るとチェックアイコンを表示 */
input[type='checkbox']:checked + span::before {
    content: '\f00c';
}

/*
FOOTER
================================================ */
footer {
    background: #67aba3;
    color: rgba(255, 255, 255, 0.978);
    padding: 3.5rem 1rem;
    text-align: center;
}
footer .btn {
    margin-bottom: 3.5rem;
}
.footer-nav li {
    margin: 1rem 0;
}
.footer-nav a {
    color: #ffffff;
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
/* Common */
    main {
        padding: 5rem;
    }
    .btn {
        width: auto;
    }
    .title {
        font-size: 1.875rem;
    }

/* Table */
    tr:nth-child(odd) {
        background: #f8f6f2;
    }
    tr:nth-child(even) th {
        background: #fff;
    }

    th,
    td {
        padding: 1.25rem;
        display: table-cell;
    }
    th {
        width: 24%;
        vertical-align: middle;
    }
    td {
        width: 76%;
    }

/* Header */
    header .wrapper {
        padding: 2rem 1rem;
    }
    .logo {
        width: 12.5rem;
    }
    .main-nav li {
        margin-left: 2rem;
        font-family: 'Shippori Mincho', serif;
        font-size: 1.25rem;
    }
    .main-nav a {
        width: auto;
    }
    .main-nav a:hover,
    .main-nav .current {
        border-bottom: 2px solid #67aba3;
        padding-bottom: .5rem;
        background: none;
    }
    .main-nav a::before {
        content: '';
    }

/* Home */
    .home-hero {
        padding: 16vw 1rem;
    }
    .home-hero h2 {
        font-size: 2.5rem;
        margin: 0 0 2rem;
        background: none;
        padding: 0;
    }
    .home-hero p {
        width: 38vw;
    }
    .main-message {
        display: inline-block;
        vertical-align: middle;
    }
    .message-img {
        width: 440px;
        height: 360px;
    }

    /* Contents */
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 1rem;
    }
    .flex-reverse {
        flex-direction: row-reverse;
    }
    .home-text {
        width: 50vw;
        margin-bottom: 0;
    }
    .women-img {
        width: 34vw;
    }

/* Timeline */
    .timeline-item {
        display: flex;
        margin-bottom: 0;
    }
    .timeline-title {
        width: 24%;
        padding: 2rem 2.5rem 2rem 0;
        text-align: right;
    }
    .timeline-content {
        border-left: 5px solid #f8f6f2;
        width: 76%;
        padding: 1.5rem 0 1.5rem 2.5rem;
        position: relative;
    }
    .timeline-content::before {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        background: #d0bea2;
        text-align: center;
        padding: .1rem;
        position: absolute;
        top: 1.5rem;
        left: -1.5rem;
    /* Font Awesome */
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        color: #fff;
        font-size: 1.25rem;
    }
    .icon-file::before{
        content: '\f56e';
    }
    .icon-code::before{
        content: '\f121';
    }
    .icon-chat::before{
        content: '\f086';
    }
    .icon-hands::before{
        content: '\f2b5';
    }

/* Form */
    label {
        display: inline-block;
        margin: 0 1.5rem 0 0;
    }
    .select-box {
        width: 40%;
    }

/* Footer */
    .footer-nav {
        display: flex;
        justify-content: center;
    }
    .footer-nav li {
        margin: 0 .75rem;
    }
    .footer-nav a:hover {
        color: #fff;
    }
}
